﻿<!DOCTYPE html>
<html lang="en" style="background: url('http://grabbaggraphics.com/wp-content/uploads/2014/05/Corkboard-Texture-02.jpg') no-repeat center center fixed; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="5000;" />
    <link rel="stylesheet" href="http://carolinasilva.com.br/CampusBot/Content/bootstrap.min.css">
    <link rel="stylesheet" href="http://carolinasilva.com.br/CampusBot/Content/font-styles.css">
    <link rel="stylesheet" href="http://carolinasilva.com.br/CampusBot/Content/styles.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.2.min.js"></script>
    <script type="text/javascript" src="http://carolinasilva.com.br/CampusBot/Scripts/bootstrap.min.js"></script>
    <script type="text/javaScript">

        function doLoad() {
            setTimeout("refresh()", 300 * 1000);
        }

        function refresh() {
            window.location.href = window.location;
        }

    </script>
</head>
<body onload="doLoad();">
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
</body>
</html>
