body {
    background: #1C627A;
}

.main {
    width:100%;
}
.homeCarousel {
}

.item .quero-carona {
    background-color: orange!important;
}

.item .ofereco-carona {
    background-color: blue!important;
}

.item {
    background-size: cover;
    background-position: center center;
    border: 3px #1C627A solid;
}

.topo {
    position: absolute;
    top: 0px;
    color:#fff;
    font-weight:bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.logo {
    width: 170px;
    border: 10px solid #fff;
    background: #fff;
}
.top {
    position: absolute;
    top: 158px;
    left: 190px;
    width: 200px;
}
.categoria {
    width: 20%;
    float: left;
    height:250px;
    padding: 5px        
}
.imgcategoria {
    background-size: cover;
    background-position: center center;
    height: 240px;
    /*box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);*/
}
/*
.categoria {
    width: 20%;
    float: left;
    height:250px;
    background-size: cover;
    background-position: center center;
    border: 3px #1C627A solid;
}*/

h3 {
    margin: 10px;
    color:#fff;
    font-size: 24px;
    font-weight:bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.categorias {   
}

.thumb {
    width: 250px;
    height: 250px;
    background-size: 250px auto;
    background-position: center center;
}

.thumbcontainer {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: 10px;
}