﻿@{
    ViewBag.Title = "WeMatch";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <!-- Carousel -->
            <div id="homeCarousel" class="carousel slide">
                <!-- Items -->
                <div class="carousel-inner" id="imagens">
                    @Html.Raw(ViewBag.divsImagens)
                </div>
            </div>
            <div class="topo"><img src="https://lh5.googleusercontent.com/-Bc6Icb3mt4I/AAAAAAAAAAI/AAAAAAAAABA/dMwLCsrnByo/s120-c/photo.jpg" class="logo" /></div>
            
            <div id="homeCategories" class="categorias">
                @Html.Raw(ViewBag.divsCategorias)
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function () {
            $('#homeCarousel').carousel({
                interval: 8000,
                pause: "true"
            });
        });
    </script>
    <script type="text/javascript">
        var carouselitem = document.getElementsByClassName('item').item(0);
        carouselitem.className += " active";
    </script>
    
}